[submodule "TPT/TPT_SecondYear/MobileApps"]
	path = TPT/TPT_SecondYear/MobileApps
	url = https://github.com/tomimarkus991/MobileApps

[submodule "TPT/TPT_SecondYear/Tarkvarasysteemid"]
	path = TPT/TPT_SecondYear/Tarkvarasysteemid
	url = https://github.com/tomimarkus991/Tarkvarasysteemid
