@charset "utf-8";

dl#menu {position: absolute;top: 10px;left: 20px;width: 150px}

dt.btn {margin-bottom: 5px;text-align: center}

dt.btn.a {display: block; color: white;font-weight: bold; text-decoration: none}

dt.btn a:link, a:visited {background: aqua; border: 5px outset aqua}

dt.btn a:hover {background: red; border: 5px outset pink}

dt.btn a:active {background: green; border: 5px inset green}