@charset "utf-8";
.Ruut {
	background-color: blue;
	height: 400px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
}
.VasakAll {
	background-color: black;
	margin-top: 300px;
	float: left;
	height: 100px;
	width: 100px;
}
.ParemAll{
	background-color: black;
	margin-top: 300px;
	float: right;
	height: 100px;
	width: 100px;
}
.ParemYlal {
	background-color: black;
	margin-right: -100px;
	float: right;
	height: 100px;
	width: 100px;
}
.VasakYlal {
	background-color: black;
	margin-left: -100px;
	float: left;
	height: 100px;
	width: 100px;
}
.VaikeParemAll {
	background-color: white;
	margin-top: 75px;
	float: right;
	height: 25px;
	width: 25px;
}
.VaikeParemYlal {
	background-color: white;
	float: right;
	height: 25px;
	width: 25px;
}
.VaikeVasakAll {
	background-color: white;
	margin-top: 75px;
	float: left;
	height: 25px;
	width: 25px;
}
.VaikeVasakYlal {
	background-color: white;
	float: left;
	height: 25px;
	width: 25px;
}.Keskel {
	background-color: #083797;
	float: none;
	height: 100px;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 70px;
	
	
}
