*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-size: 20px;
    font-family: Arial;
}
h1, h2
{
    color: rgba(12, 133, 18, 0.788);
}
h1
{
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
}
h2
{
    font-size: 30px;
    margin-bottom: 10px;
}
.main-text
{
    text-align: justify;
    margin-bottom: 20px;
}
.container
{
    width: 1140px;
    margin: 30px auto 0 auto;
}
.blog-post
{
    width: 75%;
    float: left;
    padding-right: 40px;
    border-right: 1px solid black;
}
.other-posts
{
    width: 25%;
    float: left;
    padding-left: 10px;
}
.author-box
{
    padding-top: 10px;
    border-top: 1px solid black;
}
.author-box img
{
    width: 200px;
    border-radius: 30%;
    float: left;
}
.author-text
{
    font-size: 22px;
    float: left;
}
.clearfix:after
{
    content: "";
    display: table;
    clear: both;
}
.other
{
    margin-bottom: 30px;
}