@charset "utf-8";

*{margin: 0; padding: 0; text-align: center}


html,body{height: 100%;}

#wrapper
{
	min-height: 100%;
	height: auto !important;
	height: 200%;
	margin: 0 auto -30px;
}

#hdr {height: 60px;background: aqua; texdt}

#ftr {height: 30px;background: aqua;color: white; text-align: middle}


#nav{float: left;width: 100px;background: yellow;}

#ads {float: right;width: 100px;background: fuchsia}

#txt{margin: 0 100px; background: lime}