<?xml version="1.0" encoding="UTF-8" ?>
<foodMenu>
	<food>
		<name>Timo</name>
		<comments><![CDATA[]]></comments>
		<age>11</age>
		<contacts>
			<contact type="email">timo@gmail.com</contact>
			<contact type="mobile">55555555</contact>
			<contact type="work">56666666</contact>
		</contacts>
	</person>
	<person>
		<name>Erki</name>
		<comments><![CDATA[]]></comments>
		<age>12</age>
		<contacts>
			<contact type="email">erki@gmail.com</contact>
			<contact type="mobile">55555557</contact>
			<contact type="work">56666667</contact>
		</contacts>
	</person>
	<animal>
		<name>Uky</name>
		<age>10</age>
	</animal>
</contactBook>