@charset "utf-8";

html,body{height: 100%;}

#wrapper
{
	min-height: 100%;
	height: auto !important;
	height: 200%;
	margin: 0 auto -40px;
}

#hdr {height: 80px;background: white;  color: black; text-align: left; vertical-align: middle; line-height: 80px}

#ftr {height: 30px;background: #212020; color: white; margin: auto; text-align: center; vertical-align: middle; line-height: 40px; padding-bottom: 10px}

#nav{float: left;width: 100px;background: yellow;}

#ads {float: right;width: 100px;background: fuchsia}

#txt{margin: 0 100px; background: lime}